/.gitattributes export-ignore
/.gitignore export-ignore
/.styleci.yml export-ignore
/dev export-ignore
/docs export-ignore
/nova-lang export-ignore
/contributors.json export-ignore
/development-commands.md export-ignore